.header__row1
  a
.header__row2
  .header__row2__lists
    %i.fas.fa-list-ul 
    %p カテゴリーから探す
    %i.fas.fa-tag
    %p ブランドから探す
    %i.fas.fa-tag
    %p お知らせ
    %i.fas.fa-tag
    %p やることリスト
    %i.fas.fa-tag
    %p マイページ
